@model Airliners.net.Models.AddFoto

@{
    ViewBag.Title = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de la Foto Seleccionada</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.airline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airplane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airplane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @{
                string name=Html.DisplayFor(model => model.photo).ToString();
            }
            <img src="@Url.Content("~/Images/"+name)" alt="No Disponible" width="300px" height="200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>
      

       
    </dl>
</div>
<p>
    @Html.ActionLink("Volver", "Index")
</p>
