@model Airliners.net.Models.AddFoto

@{
    ViewBag.Title = "EliminarFoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Foto</h2>

<h3>¿Deseas eliminar esta foto?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.airline)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.airplane)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.airplane)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.place)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.place)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo)
        </dt>

        <dd>
            @{
                string name = Html.DisplayFor(model => model.photo).ToString();
            }
            <img src="@Url.Content("~/Images/"+name)" alt="No Disponible" width="300px" height="200px" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.notes)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> 
            <br />
            @Html.ActionLink("Volver", "Index", "Home");
        </div>
    }
</div>
