@model IEnumerable<Airliners.net.Models.AddFoto>

@{
    ViewBag.Title = "TusFotos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<h2>TusFotos</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.airline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.airplane)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.place)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th></th>
    </tr>

@if (Model != null)
{
    foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.airline)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.airplane)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.place)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <img src="@Url.Content("~/Images/" + item.photo)" alt="No Disponible" width="300px" height="200px"/>
            @Html.DisplayFor(modelItem => item.photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
@{string extension = Path.GetExtension(item.photo);
    string result = item.photo.Substring(0, item.photo.Length - extension.Length);
}
            @Html.ActionLink("Editar", "EditarFoto", new {  photo=result }) |
            @Html.ActionLink("Eliminar", "EliminarFoto", new { photo=result})
            
        </td>
    </tr>
        }
    }
</table>
